:root{
    --font-color:tan;
    --page-background: rgb(56, 54, 54);
}

html{
    background-color: rgb(56, 54, 54);
}

body{
    padding-top: 60px;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--font-color);
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
    font-weight: lighter;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--font-color);
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    font-weight: lighter;
}

img{
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 35%;
    height: auto;
}

.home-section, .about-section, .resume-section, .projects-section {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--font-color);
    font-size: 20px;
    text-align: center;
}

.content-box{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

}

.navbar{
   position: fixed;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin-left: 77%;
   top: 5px; 
   width: 30%vw;
   border: solid 4px;
   border-radius: 8px;
   border-color: var(--font-color);
   margin: auto;
}

#email{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--font-color);
    font-size: 20px;
}

.nav-item{
    display: list-item;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 4px  ;
    border-color: var(--page-background);
    background: var(--font-color);

}

.nav-item:hover > .nav-link{
    background-color: var(--page-background);
    color: var(--font-color);

}

.nav-link{
    color: var(--page-background);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

#resume-thumb{
    border-radius: 10px;
    border: 5px solid #ddd;
}

#resume-thumb:hover{
    box-shadow: 0 0 4px 5px blue;
}

@media (max-width:768px){
    body{
        padding-top: 0px;
    }
    .navbar{
        width: 100%vw;
    }

    .nav-item{
        padding-left: 10px;
        padding-right: 10px;
    }
}

footer{
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color:var(--font-color)
}
